h1,
h2,
h3 {
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.15rem;
}
h1 {
  font-size: 175%;
}
h2 {
  font-size: 125%;
}
ol li {
  list-style-type: none;
  margin-left: 6.6rem;
  margin-bottom: 1.5rem;
  position: relative;
}
ol ol li {
  list-style-type: lower-alpha;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
  color: #555;
}
ul li {
  list-style-type: disc;
  margin-left: 1rem;
  padding-left: 1rem;
  margin-bottom: 0.25rem;
  font-weight: normal;
  position: relative;
}
@media print {
  .screen-only {
    display: none;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  a:after {
    font-style: italic;
    color: #ccc;
    content: " [" attr(title) "]";
  }
  a.no-helper:after {
    display: none;
  }
}
.primary {
  counter-reset: rule;
  border-top: 0.2rem solid #ccc;
}
.primary h1 {
  font-size: 150%;
}
.sub {
  border-top: 0.1rem solid #555;
  border-bottom: 0.1rem solid #555;
  margin-bottom: 0.2rem;
  padding-top: 1rem;
}
.sub > header > h1 {
  font-size: 130%;
}
.sub ol {
  margin-left: 0%;
  padding-left: 0%;
}
.sub ol li {
  margin-left: 0%;
  padding-left: 0%;
}
.sub:first-of-type {
  border-top: none;
}
@media screen {
  .primary {
    margin-top: 2rem;
  }
  .sub {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .sub:first-of-type {
    padding-top: 1rem;
  }
  #throwing {
    margin-top: 4.5rem;
  }
  #turning {
    margin-top: 0rem;
    padding-top: 3rem;
  }
}
@media print {
  .page-br {
    page-break-before: always;
    border-top: none;
    padding-top: 0%;
  }
  #throwing {
    margin-top: 1.5rem;
  }
  #turning {
    border-top: none;
  }
  .sub {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}
article {
  padding-left: 6.5rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem dashed #ccc;
}
article ol li {
  margin-left: 1rem !important;
  padding-left: 0.5rem !important;
  margin-bottom: 0.5rem;
}
@media print {
  article ol li {
    page-break-inside: avoid;
  }
}
article.last {
  border-bottom: none;
}
@media print {
  article {
    font-size: 14px;
    padding-top: 0rem;
    padding-bottom: 1rem;
  }
  article.last-on-page {
    border-bottom: none;
    page-break-after: always;
  }
}
@media screen and (max-width: 37rem) {
  article div {
    margin-left: -6.5rem;
  }
}
.details,
.how,
.note,
.why {
  position: relative;
  padding-left: 4rem;
  margin-top: 0.5rem;
  font-weight: normal;
}
.details:before,
.how:before,
.note:before,
.why:before {
  font-weight: bold;
  position: absolute;
  top: 0%;
  left: 0%;
}
.details:before {
  content: "Details:";
}
.how:before {
  content: "How?";
}
.why:before {
  content: "Why?";
}
.note:before {
  content: "Note:";
}
.question {
  padding: 1rem;
  margin: 2rem auto 2rem;
  max-width: 29rem;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}
.question p {
  margin: 0.5rem 0%;
}
.question ol li {
  list-style-type: decimal;
  margin: 0% 0% 0.5rem 1.5rem;
  padding: 0% 0% 0% 0.5rem;
}
@media print {
  .question {
    border-width: 0.1rem;
    border-style: solid;
    border-top-color: #ccc;
    border-right-color: #999;
    border-bottom-color: #999;
    border-left-color: #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 1.5rem 5rem 0rem;
    padding: 0% 1rem;
  }
}
@media print {
  .sub article header {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
}
.sub article h1 {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 115%;
}
.sub article h1:before {
  font-weight: normal;
  display: block;
  margin-left: -5.7rem;
  margin-bottom: -1.15rem;
}
@media print {
  .sub article h1:before {
    margin-bottom: -1rem;
  }
}
.sub article h2 {
  font-size: 105%;
}
.rule h1:before {
  content: "Rule " counter(rule);
  counter-increment: rule;
}
@media print {
  .rule h1:before {
    position: relative;
    top: 0.15rem;
  }
}
.reminder h1:before {
  content: "Reminder ";
}
.hot h1:before {
  content: "Hot tip: ";
}
.note h1:before {
  content: "Note: ";
}
body {
  font-family: arial, helvetica, sans-serif;
  line-height: 1.25rem;
}
@media screen and (min-width: 70rem) {
  body {
    margin: 1rem auto;
    max-width: 40rem;
  }
}
@media screen and (min-width: 55rem) and (max-width: 69.9999rem) {
  body {
    max-width: 40rem;
    padding-left: 17rem;
  }
}
@media screen and (max-width: 54.999rem) {
  body {
    padding-top: 9rem;
  }
  body > header {
    position: absolute;
    top: 0%;
    left: 17rem;
  }
}
@media screen and (max-width: 40rem) {
  body {
    padding: 10rem 1rem 1rem 1rem;
  }
}
@media screen and (max-width: 40rem) {
  body {
    padding: 10rem 1rem 1rem 1rem;
  }
  body > header {
    position: static;
    padding-top: 2rem;
  }
}
@page {
  size: 210mm 297mm;
  margin: 1.25cm 1.5cm;
  @top-left {
    padding-left: 1rem;
    padding-top: 1rem;
    content: "Evan's Golden rules for easier potting";
  }
  @top-right {
    content: "By Evan Wills";
  }
  @bottom-left {
    content: "github.com/evanwills/golden-rules-for-pottery";
  }
}
@media print {
  nav {
    display: none;
  }
}
nav {
  width: 13rem;
  padding: 0.5rem;
  border: 0.1rem solid #eee;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #fff;
}
nav .newRuleSet {
  counter-reset: navRule;
}
nav ul {
  margin: 0%;
  padding: 0% 0% 0.5rem;
}
nav ul li {
  margin: 0%;
  padding: 0% 0% 0.5rem;
  list-style-type: none;
  font-weight: bold;
  font-size: 110%;
  line-height: 1.1rem;
}
nav ul li li {
  padding: 0% 0% 1.75% 0.5rem;
  font-weight: normal;
  font-size: 88%;
}
nav ul li:hover > ul.rules {
  position: static;
}
nav ul li a:focus + ul.rules {
  position: static;
}
nav ul.rules {
  padding-left: 1.5rem;
  margin-bottom: 0.3rem;
  position: absolute;
  left: -200rem;
}
nav ul.rules li {
  text-indent: -2rem;
}
nav ul.rules li.hot-tip {
  list-style-type: none;
}
nav ul.rules li.hot-tip:before {
  content: "Tip:";
  font-weight: bold;
  padding-right: 0.45rem;
}
nav ul.rules li.reminder {
  list-style-type: none;
}
nav ul.rules li.reminder:before {
  content: "Reminder:";
  font-weight: bold;
  padding-right: 0.45rem;
}
nav ul.rules li.rule {
  counter-increment: navRule;
  text-indent: 0rem;
}
nav ul.rules li.rule:before {
  content: counter(navRule);
  font-weight: bold;
  padding-right: 1rem;
  display: block;
  position: absolute;
  left: -2.5rem;
  width: 2rem;
  text-align: right;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav:hover {
  -moz-box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 55rem) {
  nav {
    position: fixed;
  }
}
/*# sourceMappingURL=style.css.map */
