

@media print {
  .sub article header {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
}
.rule h2, .rule h3, .rule h4 {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 115%;
}
sub article h3::before {
  font-weight: normal;
  display: block;
  margin-left: -5.7rem;
  margin-bottom: -1.15rem;
}
@media print {
  sub article h1::before {
    /* padding-left: 5.5rem; */
    margin-bottom: -1.0rem;
    /* text-indent: -5.5rem; */
    /* margin-left: -1.7rem; */
  }
}
.sub article h2 {
  font-size: 105%;
}

.rule .before::before {
  content: 'Rule ' counter(rule);
  counter-increment: rule;
}
@media print {
  .rule h1::before {
    /* top: 0.15rem; */
  }
}

.reminder .before::before  {
  content: 'Reminder ';
}

.hot .before::before {
  content: 'Hot tip: ';
}

.note .before::before {
  content: 'Note: ';
}
