
.question {
	/* border: 0.1rem solid #999; */
	padding: 1rem;
	margin: 2rem auto 2rem;
	max-width: 29rem;
	border-radius: 0.25rem;
	box-shadow: 0.5rem 0.5rem 0.5rem rgba(200, 200, 200, 0.4);
	border: 0.05rem solid #eee;
	/* border-left: 0.1rem solid #999; */
}
.question :first-child { margin-top: 0; }
.question :last-child { margin-bottom: 0; }
.question p { margin: 0.5rem 0%; }
.question ol li {
  list-style-type: decimal;
  margin: 0% 0% 0.5rem 1.5rem;
  padding: 0% 0% 0% 0.5rem;
}

@media print {
  .question {
		border-width: 0.1rem;
		border-style: solid;
		border-top-color: #ccc;
		border-right-color: #999;
		border-bottom-color: #999;
		border-left-color: #ccc;
		box-shadow: none;
		margin: 1.5rem 5rem 1.5rem;
	}
}
