
article {
	padding-top: 0.5rem;
	padding-bottom: 2rem;
	border-bottom: 0.1rem dashed #ccc;
}
li:last-child > article {
  border-bottom: none;
  padding-bottom: 0;
}
article ol li {
  margin-left: 1rem !important;
  padding-left: 0.5rem !important;
  margin-bottom: 0.5rem;
}
@media print {
}

article .last {
  border-bottom: none;
}

@media print {
  article {
		font-size: 14px;
		padding-top: 0rem;
		padding-bottom: 1rem;
  }
  article ol li {
    /* page-break-inside: avoid; */
  }
	article .last-on-page {
			border-bottom: none;
			page-break-after: always;
  }
}

@media screen and (max-width: 37rem) {
  div {
    margin-left: -6.5rem;
  }
}

.details,
.how,
.note,
.why {
	position: relative;
	margin-top: 0.5rem;
	font-weight: normal;
}
.details:before,
.how:before,
.note:before,
.why:before {
  font-weight: bold;
}

.details:before { content: 'Details:'; }

.how:before { content: 'How?'; }

.why:before { content: 'Why?'; }

.note:before { content: 'Note:'; }
